<html>
<form method="post">
    {% csrf_token %}
<table>
    <tr>
        <td>
           first name
        </td>
        <td>
            <input type="text" name="txtfirstname">
        </td>
       
    </tr>
    <tr>
        <td>
            last name
         </td>
         <td>
         <input type="text" name="txtlastname">
        </td>
    </tr>
    <tr>
        <td>
             <button type="submit" name="submit">submit</button>
        </td>
    </tr>
    <tr>
       <td>
        {{result}}
       </td> 
    </tr>
</table>
</form>
</html>